/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Fundo com imagem */
body {
  color: #333;
  min-height: 100vh;
  margin: 0;
  background-image: url('../IMG/Fundo8.jpg'); /* Imagem de fundo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Estilo do cabeçalho */
header {
  background-color: rgba(26, 26, 26, 0.8);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header .logo h1 {
  font-size: 2rem;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #177b7e;
}

/* Seção de atividades */
.atividades {
  padding: 60px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 50px auto;
  border-radius: 20px;
  width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.4s ease;
}

.atividades:hover {
  background-color: rgba(255, 255, 255, 1);
}

.atividades h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
}

.atividades-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

/* Quadrados de atividade */
.atividade {
  width: 250px;
  background-color: rgba(255, 255, 255, 0.7); /* Transparente */
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.atividade:hover {
  transform: translateY(-10px);
  background-color: rgba(255, 255, 255, 0.95); /* Menos transparente no hover */
}

.atividade img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.atividade h3 {
  font-size: 1.2rem;
  margin-bottom: 6px;
  margin-top: 5px;
}

.atividade p {
  font-size: 0.95rem;
  color: #444;
  line-height: 1.3;
  margin-top: 4px;
}

.atividade a {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #177b7e;
  text-decoration: none;
}

.atividade a:hover {
  text-decoration: underline;
}
